@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto|Source+Sans+Pro:400,700');

$yellow: #eabf00;
$black-light: #1b1a20;

$card-width:  350px;
$card-height: 500px;

body {
    margin: 0;
    color: $black-light;
    font-family: 'Roboto', sans-serif;
    background:#f9f9f9;
}


main {
    padding: 20px 2%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    border: 1px solid #d9d9d9;
    margin: 10px;
    width: 97%;
    margin-left: 10px;

}

.clearfix-line{
    background: #d9d9d9;
    width: 228px;
    color: #d9d9d9;
    position: absolute;
    top: 65%;
    left: 8%;
    text-decoration: none;
    opacity: 0.6;  
}

.no-money{
    position: absolute;
    top: 2%;
    left: 45%;
    z-index: 2;
    opacity: 0.8;
    background: #616161;
    border-radius: 100px;
    width: 150px;
    height: 42px;
    color: white;
}

.no-money h4{
    display: inline;
    left: 23px;
    position: relative;
    top: 10px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.03px;
    text-align: right;
}

.no-money img{
    display: inline;
    left: 110px !important;
    top: 3px !important;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 16px;
    background: #fff;
    color: #f1f1f1;
    z-index: 20;
    height: 35px;

    .brand{
        display: inline-flex;
        margin-left: 20px;
    }
    .user-info{
        display: inline-flex;
        float: right;
        margin-right: 70px;

        .user-item{
            padding: 0 10px;
            color: #616161;
        }

       h2{
            margin: 0;
            padding-top: 3px !important;
       }

       .points{
            background:#ededed;
            border-radius:100px;

            .coin{
                padding: 0;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
            
            .user-points{
                position: relative;
                bottom: 11px;
                padding: 15px;
                padding-right: 2px;
            }
       }
    }
}

/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px){
    .float-cart__content::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background-color: rgba(0,0,0,0.2);
        padding: 10px;
    }
    .float-cart__content::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #0c0b10;
    }
}

.float-cart__content {
    height: 100%;
    overflow-y: scroll;
}


.main-banner {
    width: 100%;
    margin-top: 55px;
}

.banner-container{
    position: relative;
    text-align: center;
    color: white;
    
    max-height:445px;
    overflow:hidden;    
}

.banner-title{
/* Bottom right text */
    position: absolute;
    bottom: 2%;
    left: 14%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:64px;
    font-weight: 700;
}

footer {
    color: #ececec;
    padding: 20px 0;
    text-align: center;
    background-color: #000;
    
    a {
        color: #ececec;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.filters {
    width: 15%;
    float: left;

    .star-button-container {
      text-align: center;
      small {
        color: #aaa;
        margin-bottom: 8px;
        display: inline-block;
      }

    }

    .title {
        margin-top: 2px;
        margin-bottom: 20px;
    }

    &-available-size {
        display: inline-block;
        margin-bottom: 10px;
        /* Customize the label (the container) */
        label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 35px;
            height: 35px;
            font-size: 0.8em;
            margin-bottom: 8px;
            margin-right: 8px;
            border-radius: 50%;
            line-height: 35px;
            text-align: center;

            /* On mouse-over, add a grey background color */
            &:hover input ~ .checkmark {
                /* border: 1px solid $black-light; */
            }

            /* When the checkbox is checked, add a blue background */
            & input:checked ~ .checkmark {
                background-color: $black-light;
                color: #ececec;
            }

            /* Show the checkmark when checked */
            & input:checked ~ .checkmark:after {
                display: block;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                font-size: 0.8em;
                border-radius: 50%;
                line-height: 35px;
                text-align: center;
                color: $black-light;
                background-color: #ececec;
                
                border: 1px solid transparent;

            }
        }
    }
}

.shelf-container {
    
    float: left;
    width: 100%;

    &-header {
        margin-bottom: 10px;

        .products-found {
            float: left;
            margin: 0;
            margin-top: 8px;
        }

        .sort {
            float: left;
            color:#a3a3a3;
            font-size: 20px;
            margin-bottom: 10px;
            button {
                background: #ededed;
                font-family: "Source Sans Pro", sans-serif;
                border-radius: 100px;
                width: 160px;
                height: 48px;
                outline: none;
                border: 1px solid #ececec;
                cursor: pointer;
                font-size: 22px;
                letter-spacing: -0.15px;
                line-height: 48px;
                margin: 5px;
                color: #a3a3a3;

                h5{
                    display: inline;
                    position: relative;
                    bottom: 4px;
                }

                &:hover {
                    background:#0ad4fa;
                    color: #FFF;
                    transition: background 0.2s;
                }
                &:focus{
                    background:#0ad4fa;
                    color: #FFF;
                    transition: background 0.2s;
                }
            }

            .pagination-number{
                display: inline;
                padding: 0 35px;
                border-right: 2px solid #d9d9d9;
            }

/*             button{
                background: #ededed;
                border-radius: 100px;
                width: 172px;
                height: 48px;
            } */

            span{
                font-family: 'Open Sans' sans-serif;
                font-size:24px;
                color:#a3a3a3;
                letter-spacing:-0.15px;
                line-height:48px;
                text-align:left;
                margin-left: 40px;
            }
        }

        .filter-sort{
            float: right;
            color:#a3a3a3;
            font-size: 20px;
        }
    }

    .shelf-item {
        float: left;
        background: #ffffff;
        -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
        width: 276px;
        height: 276px;
        margin: 10px;


        position: relative;
        display: flex;
        align-items: flex-end;
        transition: 0.5s ease-out;

        &:hover{
            transform: scale3d(1.006, 1.006, 1);
            box-shadow: 7px 9px 10px 0 rgba(0, 0, 0, 0.6);
            .buy-logo{
                display: none;
            }

            .no-hover{
                display: none !important;
            }
        }

        &:hover:before {
            opacity: 0.8;
            transform: scale3d(1.006, 1.006, 1);
            box-shadow: 15px 10px 10px 5px rgba(220, 220, 220, 0.7);
        }

        &:hover .info {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
    
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-image:linear-gradient(-180deg, #0ad4fa 50%, #25bbf1 100%);
          z-index: 2;
          transition: 0.5s;
        }

         img {
          position: absolute;
          top: 0;
          left: 20px;
        }

        .info {
          position: relative;
          z-index: 3;
          color: white;
          opacity: 0;
          -webkit-transform: translateY(30px);
                  transform: translateY(30px);
          transition: 0.5s;
          width: 100%;
          height: 100%;

          img{
            position: absolute;
            top: 0;
            z-index: 2;
            left: 80%; 
          }

          .price{
            margin-top: 35%;
            margin-left: 35%;
            .cost{
                font-family: 'Open Sans' sans-serif;
                font-size:36px;
                color:#ffffff;
                letter-spacing:-0.08px;
                text-align:center;
                margin-top: 35%;
                display: inline;
            }

            img{
                display: inline;   
                position: relative;
                top: 5px;
                left: 5px; 
            }
          }

            .buy-btn{
                background: #ffffff;
                width: 228px;
                height: 42px;
                border-radius: 100px;
    
                font-family: "Open Sans" sans-serif;
                font-size: 18px;
                color: #616161;
                letter-spacing: -0.04px;
                text-align: center;
    
                margin-right: 0px;
                margin-left: 9%;
                margin-top: 5%;
                border: none;
                cursor: pointer;
            }
        }

        .info button:hover {
          background: #25bbf1;
          color: white;
        }
        .shelf-stopper {
            position: absolute;
            color: #ececec;
            top: 10px;
            right: 10px;
            padding: 5px;
            font-size: 0.6em;
            background-color: $black-light;
            cursor: default;

            i{
                color: #eabf00;
            }
        }

        .buy-logo{
            position: absolute;
            top: 0;
            z-index: 2;
            left: 80%;
        }

        &__thumb {
            height: 182px;
            justify-content: center;
            text-align: center;
        }

        &__info{
            position: absolute;
            bottom: 10%;
            margin: 0 20px;

            .title {
                font-family: 'Source Sans Pro', sans-serif;
                font-size:18px;
                color:#616161;
                letter-spacing:-0.04px;
                text-align:left;
                margin: 0;
            }

            .category{
                font-family: "Source Sans Pro", sans-serif;
                font-size: 16px;
                color: #a3a3a3;
                letter-spacing: -0.04px;
                text-align: left;
                margin: 2px 0;
            }

        }

           /*  &::before {
                content: '';
                width: 20px;
                height: 2px;
                background-color: $yellow;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -10px;
            } */
        

        &__price {
            height: 60px;

 

            .val {
                b {
                    font-size: 1.5em;
                    margin-left: 5px;
                }
            }

            .installment {
                color: #9c9b9b;
            }
        }

        &__buy-btn {
            background-color: $black-light;
            color: #fff;
            padding: 15px 0;
            margin-top: 10px;
            cursor: pointer;
            // border-bottom: 2px solid #151419;

            transition: background-color 0.2s;
        }

        &__coin{
            display: inline-flex;
            margin-bottom: -10px;
        }

       /*  &__category{
            font-family: "Source Sans Pro", sans-serif;
            font-size: 16px;
            color: #a3a3a3;
            letter-spacing: -0.04px;
            text-align: left;
            margin: 2px 0;
        } */
    }
}

/* .float-cart {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: $black-light;
    box-sizing: border-box;
    
    transition: right 0.2s;

    &--open {
        right: 0;
    }

    &__close-btn {
        width: 50px;
        height: 55px;
        color: #ececec;
        background-color: $black-light;
        text-align: center;
        line-height: 55px;
        position: absolute;
        top: 0;
        left: -50px;
        cursor: pointer;

        &:hover {
            background-color: #212027;
        }
    }

    .bag {
        width: 40px;
        height: 40px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        &--float-cart-closed {
            position: absolute;
            background-size: 50%;
            left: -60px;
            width: 60px;
            height: 55px;
            cursor: pointer;

            .fas{
                font-size: 40px;
                margin: 7px;
                color: #0ad4fa;
            }

            .bag__quantity {
                bottom: 5px;
                right: 10px;
            }
        }

        &__quantity {
            display: inline-block;
            width: 18px;
            height: 18px;
            color: #0c0b10;
            font-weight: bold;
            font-size: 0.7em;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            background-color: $yellow;
            position: absolute;
            bottom: -5px;
            right: 0px;
        }
    }

    &__header {
        color: #ececec;
        box-sizing: border-box;
        text-align: center;
        padding: 45px 0;

        i {
            font-size: 35px;
        }
        

        .header-title {
            font-weight: bold;
            font-size: 1.2em;
            vertical-align: middle;
        }
    }

    &__shelf-container {
        min-height: 280px;

        .shelf-empty {
            color: #ececec;
            text-align: center;
            line-height: 40px;
        }

        .shelf-item {
            position: relative;
            box-sizing: border-box;
            padding: 5%;

            transition: background-color 0.2s, opacity 0.2s;

            &::before {
                content: '';
                width: 90%;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 0;
                left: 5%;
            }
            
            &--mouseover {
                background: #0c0b10;

                .shelf-item__details {
                    .title, .desc {
                        text-decoration: line-through;
                        opacity: 0.6;
                    }
                }

                .shelf-item__price {
                    text-decoration: line-through;
                    opacity: 0.6;
                }
            }

            &__del {
                width: 16px;
                height: 16px;
                top: 15px;
                right: 5%;
                border-radius: 50%;
                position: absolute;
                background-size: auto 100%;
                background-image: url('./../static/sprite_delete-icon.png');
                background-repeat: no-repeat;
                z-index: 2;
                cursor: pointer;


                &:hover {
                    // background-position-x: -17px; 
                }
            }

            &__thumb, &__details, &__price {
                display: inline-block;
                vertical-align: middle;
            }

            &__thumb {
                vertical-align: middle;
                width: 15%;
                 margin-right: 3%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__details {
                width: 57%;

                .title {
                    color: #ececec;
                    margin: 0;
                }

                .desc {
                    color: #5b5a5e;
                    margin: 0;

                    p{
                        margin: 0;
                    }
                }
            }
            &__price {
                color: $yellow;
                text-align: right;
                width: 25%;
                img{
                    width: 15px;
                    height: 12px;
                }
            }
        }
    }

    &__footer {
        box-sizing: border-box;
        padding: 5%;
        box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.3);

        .sub, .sub-price {
            color: #5b5a5e;
            vertical-align: middle;
            display: inline-block;
        }

        .sub {
            width: 20%;
        }

        .sub-price {
            width: 80%;
            text-align: right;

            &__val, &__installment {
                margin: 0;
            }

            &__val {
                color: $yellow;
                font-size: 22px;

                img{
                    width: 20px;
                    height: 17px;
                }
            }

            .color-red{
                color:red;
            }


        }

        .buy-btn {
            color: #ececec;
            text-transform: uppercase;
            background-color: #0c0b10;
            text-align: center;
            padding: 15px 0;
            margin-top: 40px;
            cursor: pointer;

            transition: background-color 0.2s;

            &:hover {
                background-color: #000;
            }
        }
    }
} */

@media only screen and (max-width : 1024px) {
    .filters {
        width: 20%;
    }

    .shelf-container {
        .shelf-item {
            //width: 33.33%;
        }
    }

}

@media only screen and (max-width : 640px) {
    .filters {
        width: 25%;
    }

    .shelf-container {
        width: 75%;

        .shelf-item {
            width: 50%;
            padding: 10px;

            &__title {
                margin-top: 5px;
                padding: 0;
            }
        }
    }

    /* .float-cart {
        width: 100%;
        right: -100%;

        &--open {
            right: 0;
        }

        &__close-btn {
            left: 0px;
            z-index: 2;
            background-color: $black-light;
        }

        &__header {
            padding: 25px 0;

            i{
                font-size: 35px;
            }
        }
    } */
}

@media only screen and (max-width : 460px) {
    main {
        padding: 2%;
    }

    .user-info{
        font-size: 15px;
        margin-right: 25px !important;
    }

    .brand{
        margin-left: 0 !important;
    }

    .filters {
        width: 100%;
        text-align: center;
        
        .title {
            margin-bottom: 15px;
        }
    }

    .shelf-container-header {
        text-align: center;
        .products-found {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .sort {
            width: 350px;
            text-align: center;
            margin-left: 5px;
            span{
                font-size: 15px;
                letter-spacing: -0.15px;
                line-height: 48px;
                text-align: left;
                margin-left: -11px;
            }

            button{
                line-height: 3px;
                width: 89px;
                height: 30px;
                font-size: 13px;
            }

            .pagination-number{
                display:none;
            }
        }

        .filter-sort{
            width: 100%;
            font-size: 15px;
            margin-top: 15px;
        }
    }


    .shelf-container {
        width: 90%;

        .shelf-item {
            width: 100%;

            img{
                left: 30px;
            }

            .clearfix-line{
                left: 15%;
            }

            &__info{
                margin: 0 40px;
            }

            .info{
                .price{
                    margin-top: 28%;
                    margin-left: 35%;
                }

                .buy-btn{
                    margin-left:13%
                }
            }
        }
    }

    .banner-title {
        font-size:30px;
    }
}